<div class="row-fluid"><small>Drag and drop panels between the left and right sidebars.</small></div>
<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid"><h5 style="text-align: center;"><u>{{ _('Left Sidebar') }}</u></h5></div>
		<div class="row-fluid" data-bind="sortable: { data: available_sidebar_items, options: { cancel: '.unsortable', cursor: 'move' } }" style="min-height: 50px;">
			<div class="row-fluid">
				<div class="span10 offset1 well" data-bind="text: $data"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid"><h5 style="text-align: center;"><u>{{ _('Right Sidebar') }}</u></h5></div>
		<div class="row-fluid" data-bind="sortable: { data: right_sidebar_items, options: { cancel: '.unsortable', cursor: 'move' } }" style="min-height: 50px;">
			<div class="row-fluid">
				<div class="span10 offset1 well" data-bind="text: $data"></div>
			</div>
		</div>
	</div>
</div>