<div class="row-fluid"><h5><u>{{ _('Sidebar Items Moved to Right Panel') }}</u></h5></div>
<div class="row-fluid" data-bind="foreach: settingsViewModel.settings.plugins.widescreen.right_sidebar_items">
	<div class="row-fluid" style="margin-bottom: 5px;">
		<div class="span11" data-bind="text: $data"></div>
		<div class="span1 btn-group" style="text-align: center;"><button class="btn btn-mini btn-danger icon-trash" data-bind="click: $root.remove_sidebar_item"></button></div>
	</div>
</div>
<div class="row-fluid"><h5><u>{{ _('Available Sidebar Items to Move to Right Panel') }}</u></h5></div>
<div class="row-fluid" data-bind="foreach: unassigned_sidebar_items">
	<div class="row-fluid">
		<div class="span1 btn-group"><button class="btn btn-mini btn-primary icon-plus" data-bind="click: $root.add_sidebar_item"></button></div>
		<div class="span11" data-bind="text: $data"></div>
	</div>
</div>