#right_sidebar #files_wrapper .dropdown-menu {
    right: 0;
    left: auto;
}

#settings_plugin_widescreen .border-right {
    border-right: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
}
